.container {
  margin: 0 auto;
  width: 768px;
  border: 10px;
  background:#a0a0a0;

}

header {
  background-color: black;
}

#logo {
  display: block;
  margin: 0 auto;
}
nav {
	float:left;
	width:128px;
	height: 640px;
    background:#a0a0a0;
    text-align: center;
    }
nav ul {
	list-style: none;
} 
nav li a{	    
    color: white;
    text-decoration: none;
    line-height: 1.8;
    font-family: impact;
    font-size: auto;
}

.content {
	float:right;
    width:640px;
    background:white;
    text-align : justify;
    }
.footer {
    clear:both;
    background: white;
    float: right;
    width: 640px;
    padding: 10px;
 }

